{% extends 'base.html.twig' %}

{% block title %}Hello ComoFuncionaController!{% endblock %}

{% block body %}




<div class="container mt-2 mb-2">
<h1 class="text-primary">¿Cómo funciona?</h1>
<div class="card-deck">
  <div class="card">
    <img src="images\funcionamiento\recibe.jpg" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">1.Recibe</h3>
      <p class="card-text">O regala una caja de experiencias de TripAddict, que incluye una guía y un cheque regalo.</p>
    
    </div>
  </div>

  <div class="card">
    <img src="images\funcionamiento\elige.jpg" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">2.Elige</h3>
      <p class="card-text">Una de las experiencias.</p>
     
    </div>
  </div>

   <div class="card">
    <img src="images\funcionamiento\reserva.jpg" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">3.Reserva</h3>
      <p class="card-text">Llamando al proveedor de la experiencia.</p>
     
    </div>
  </div>

  <div class="card">
    <img src="images\funcionamiento\disfruta.jpg" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">4.Disfruta</h3>
      <p class="card-text">Paga con el cheque regalo sin ningún coste adicional, y ¡disfruta la experiencia!</p>
    
    </div>
       </div>
  </div>
</div>
{% endblock %}
