{% extends 'base.html.twig' %}

{% block title %}TripAddict | Como Funciona{% endblock %}

{% block body %}


<h1 class="text-primary">¿Cómo funciona?</h1>

<div class="container mt-2 mb-2">
<h2 class="text-success">Paquete normal.</h2>
<div class="card-deck">
  <div class="card">
    <img src="images\funcionamiento\recibe.jpg" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">1.Recibe</h3>
      <p class="card-text">O regala una caja de experiencias de TripAddict, que incluye una guía y un cheque regalo.</p>
    
    </div>
  </div>

  <div class="card">
    <img src="images\funcionamiento\elige.jpg" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">2.Elige</h3>
      <p class="card-text">Una de las experiencias.</p>
     
    </div>
  </div>

   <div class="card">
    <img src="images\funcionamiento\reserva.jpg" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">3.Reserva</h3>
      <p class="card-text">Llamando al proveedor de la experiencia.</p>
     
    </div>
  </div>

  <div class="card">
    <img src="images\funcionamiento\disfruta.jpg" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">4.Disfruta</h3>
      <p class="card-text">Paga con el cheque regalo sin ningún coste adicional, y ¡disfruta la experiencia!</p>
    
    </div>
       </div>
  </div>
</div>
<br>

{# como funciona aleatoriamente #}

<h1 class="text-primary">¿Cómo funciona?</h

<div class="container mt-2 mb-2">
<h2 class="text-success">Paquete aleatorio.</h2>
<div class="card-deck">
  <div class="card">
    <img src="images\funcionamiento\recibe.jpg" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">1.Elige</h3>
      <p class="card-text">Elige paquete aleatorio de TripAddict.</p>
    
    </div>
  </div>

  <div class="card">
    <img src="images\funcionamiento\pago.png" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">2.Pago</h3>
      <p class="card-text">Pagas tu paquete aleatorio.</p>
     
    </div>
  </div>

   <div class="card">
    <img src="images\funcionamiento\sorteo.png" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">3.Sorteo</h3>
      <p class="card-text">Sorteamos tu estancia de manera aleatoria. </p>
     
    </div>
  </div>

<div class="card">
    <img src="images\funcionamiento\reserva.jpg" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">4.Reserva</h3>
      <p class="card-text">Llamando a la estancia asignada del sorteo. </p>
     
    </div>
  </div> 
  
  <div class="card">
    <img src="images\funcionamiento\disfruta.jpg" class="card-img-top h-50" alt="...">
    <div class="card-body">
      <h3 class="card-title text-success">5.Disfruta</h3>
      <p class="card-text"> Una vez reservada tu experienca no queda nada más que disfutar!</p>
    
    </div>
       </div>
  </div>
</div>

{% endblock %}
