{% extends 'base.html.twig' %}

{% block title %}TripAddict | Paquetes Aleatorios{% endblock %}

{% block body %}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Paquetes Aleatorios TripAddict</h1>
    <p class="lead text-muted">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, alias error. Aperiam, necessitatibus eligendi deserunt doloremque nemo modi. Dolorum minima repudiandae commodi vero, eveniet nulla! Quia ab suscipit culpa dolorum.</p>
    <p>
      <a href="/comoFunciona" class="btn btn-primary my-2">¿Como funciona?</a>
    </p>
  </div>
</section>


<!-- GRUPO -->
<div class="card mb-2 mt-4 bg-light text-primary">
  <div class="card-header ">
    <h1 class="text-center">Pack Aleatorio Oro</h1>
  </div>
  <div class="card-body row">
    <div class="card col-6" style="width: 18rem;">
      <img class="card-img-top" src="\images\ImagenesPortadas\azul\portada2C.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Paquete 1</h5>
        <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
          of the card's content.</p>
          
        <a href="/paquetes/1/1" class="btn-block btn btn-primary">Ver Pack</a>
      </div>
    </div>

    <div class="card col-6" style="width: 18rem;">
      <img class="card-img-top" src="\images\ImagenesPortadas\azul\portada5C.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Paquete 1</h5>
        <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
          of the card's content.</p>
        <a href="/paquetes/1/1" class="btn-block btn btn-primary">Ver Pack</a>
      </div>
    </div>
  </div>
  <div class="card-footer">
  <h1 class='text-center'>190€</h1>
    <a href="/paquetes/1" class="btn btn-lg btn-success btn-block">Comprar Pack</a>
  </div>
</div>

<!-- FIN GRUPO-->

<!-- GRUPO -->
<div class="card mb-2 mt-4 bg-light text-primary">
  <div class="card-header ">
    <h1 class="text-center">Pack Aleatorio Plata</h1>
  </div>
  <div class="card-body row">
    <div class="card col-6">
      <img class="card-img-top" src="\images\ImagenesPortadas\plata\felicidades1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Paquete 1</h5>
        <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
          of the card's content.</p>
        <a href="/paquetes/1/1" class="btn-block btn btn-primary">Ver Pack</a>
      </div>
    </div>

    <div class="card col-6">
      <img class="card-img-top" src="\images\ImagenesPortadas\plata\felicidades2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Paquete 1</h5>
        <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
          of the card's content.</p>
        <a href="/paquetes/1/1" class="btn-block btn btn-primary">Ver Pack</a>
      </div>
    </div>
  </div>
  <div class="card-footer">
  <h1 class='text-center'>142€</h1>
    <a href="/paquetes/1" class="btn btn-lg btn-success btn-block">Comprar Pack</a>
  </div>
</div>

<!-- FIN GRUPO-->


<!-- GRUPO -->
<div class="card mb-2 mt-4 bg-light text-primary">
  <div class="card-header ">
    <h1 class="text-center">Pack Aleatorio Bronce</h1>
  </div>
  <div class="card-body row">
    <div class="card col-6">
      <img class="card-img-top" src="\images\ImagenesPortadas\dorado\amor1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Paquete 1</h5>
        <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
          of the card's content.</p>
        <a href="/paquetes/1/1" class="btn-block btn btn-primary">Ver Pack</a>
      </div>
    </div>

    <div class="card col-6">
      <img class="card-img-top" src="\images\ImagenesPortadas\dorado\amor3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Paquete 1</h5>
        <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
          of the card's content.</p>
        <a href="/paquetes/1/1" class="btn-block btn btn-primary">Ver Pack</a>
      </div>
    </div>
  </div>
  <div class="card-footer">
  <h1 class='text-center'>90€</h1>
    <a href="/paquetes/1" class="btn btn-lg btn-success btn-block">Comprar Pack</a>
  </div>
</div>

<!-- FIN GRUPO-->



{% endblock %}