{% extends 'base.html.twig' %}

{% block title %}TripAddict | Paquetes Aleatorios{% endblock %}

{% block body %}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Paquetes Aleatorios TripAddict</h1>
    <p class="lead text-muted">En TripAddict te proporcionamos una estancia para dos personas de forma aleatoria.
      Solo tienes que elegir el precio (25€, 50€ o 100€) y disfrutar de tu estancia.
    </p>
    <p>
      <a href="/comoFunciona" class="btn btn-primary my-2">¿Como funciona?</a>
    </p>
  </div>
</section>

<div class='row d-flex justify-content-center'>

  {% for paquetealeatorio in paquetesaleatorios %}
  <div class="col-md-3" >
  <div class="card m-4 ">
        <h3 class="card-title card-header text-center">{{paquetealeatorio.precio}}€</h3>
    <div class="card-body p-2" >
      <img class="card-img-top" src="\images\ImagenesPortadas\{{paquetealeatorio.imagenPortada}}" alt="Card image cap">
      <p class="card-text text-left">Con este pack puedes conseguir una estancia por valor máximo de <b>{{paquetealeatorio.maximo}}€.</b></p>
      <a href="/sortear/{{paquetealeatorio.id}}" class="btn btn-info btn-block card-link">Comprar Pack</a>
    </div>
  </div>
  </div>

  {% else %}

  <p>No hay paquetes.

    {% endfor %}

</div>

{% endblock %}