
{% block stylesheets %}
    <style>
        .panel-transparent{
            background-color:rgba(100,100,100,0.5);
        }
    </style>
{% endblock %}


{% block body %}

<div class="container mb-3 mt-3" style="background-image:url('https://upload.wikimedia.org/wikipedia/commons/9/9b/Cataratas_y_paisaje.jpg')">
    <div  class='p-2'>
        <div class="card-body panel-transparent">
            <div class='container'>
                <form class="form-inline p-3 justify-content-around">

                    <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                            </select>
                    </div>

                    <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option> Tema </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                            </select>
                    </div>

                    <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option> ¿Precio? </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                            </select>
                    </div>
                    <button type="button" class="btn btn-info w-22"> ¡¡Encuentra tu viaje!! </button>
                </form>
            </div>
        </div>   
    </div>
</div>   
{% endblock %}
