
{% block stylesheets %}
    <style>
        .panel-transparent{
            background-color:rgba(100,100,100,0.5);
        }
    </style>
{% endblock %}

{% block body %}

<div class="mb-3 mt-3" style="background-image:url('/images/cielo.jpg')">
    <div  class=''>
        <div class="card-body panel-transparent">
            <div class='container'>
                <form class="form-inline justify-content-center row">
                    <div class="form-group col-md-3">
                        <select class="form-control w-100" id="exampleFormControlSelect1">
                            <option value="0"> Cualquier Pack </option>
                            {% for grupo in grupos %}
                                <option value="{{grupo.id}}"> {{grupo.titulo}} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <select class="form-control w-100" id="exampleFormControlSelect1">
                            <option value="0"> Cualquier Precio </option>
                            {# {% for grupo in grupos %} 
                                <option value="{{grupo.id}}"> {{pack.precio}} </option>
                            {% endfor %} #}
                            <option value="5"> de 50 a 100€ </option>
                            <option value="100"> de 100 a 200€ </option>
                            <option value="200"> Más de 200€ </option>
                        </select>
                    </div>

                    <div class="form-group col-md-3">
                        <a href="/index2/" type="button" class="btn btn-info btn-block"> Encuentra tu Viaje </a>
                    </div>
                </form>
            </div>
        </div>   
    </div>
</div>   
{% endblock %}

