
{% block stylesheets %}
    <style>
        .panel-transparent{
            background-color:rgba(100,100,100,0.5);
        }
    </style>
{% endblock %}


{% block body %}

<div class="mb-3 mt-3" style="background-image:url('/images/cielo.jpg')">
    <div  class='p-2'>
        <div class="card-body panel-transparent">
            <div class='container'>
                <form class="form-inline p-3 justify-content-center row">
                    <div class="form-group col-md-3">
                            <select class="form-control w-100" id="exampleFormControlSelect1">
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                            </select>
                    </div>

                    <div class="form-group col-md-3">
                            <select class="form-control w-100" id="exampleFormControlSelect1">
                                <option> Tema </option>
                                <option> Tema </option>
                                <option> Tema </option>
                                <option> Tema </option>
                                <option> Tema </option>
                            </select>
                    </div>

                    <div class="form-group col-md-3">
                            <select class="form-control w-100" id="exampleFormControlSelect1">
                                <option> ¿Precio? </option>
                                <option> ¿Precio? </option>
                                <option> ¿Precio? </option>
                                <option> ¿Precio? </option>
                                <option> ¿Precio? </option>
                            </select>
                    </div>
                    <div class="form-group col-md-3">
                        <button type="button" class="btn btn-info btn-block"> ¡¡Encuentra tu viaje!! </button>
                    </div>
                </form>
            </div>
        </div>   
    </div>
</div>   
{% endblock %}
