{% extends 'base.html.twig' %}

{% block title %}Hello BuscadorController!{% endblock %}

{% block body %}

    <div>

            <div class='container'>
                <form class="form-inline p-3 justify-content-around">

                    <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                            </select>
                    </div>

                    <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option> Tema </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                            </select>
                    </div>

                    <div class="form-group">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option> ¿Precio? </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                                <option> Tipo de estancia </option>
                            </select>
                    </div>

                    <button type="button" class="btn btn-info w-22"> ¡¡Encuentra tu viaje!! </button>
                </form>

                
            </div>

            
        
        {# <nav class = "navbar navbar-expand-lg navbar-light bg-light">

            <div class = "collapse navbar-collapse row" id = "navbarSupportedContent">

                <ul class = "navbar-nav mr-auto col-2 border bg-white">
                    <li class = "nav-item dropdown w-100">
                      <a class = "nav-link dropdown-toggle text-center" href = "#" id = "navbarDropdownMenuLink" role = "button" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false" > Tipo de estancia  </a>
                        <div class = "dropdown-menu" aria-labelledby = "navbarDropdownMenuLink">
                            <a class = "dropdown-item" href = "#"> 1 </a>
                            <a class = "dropdown-item" href = "#"> 2 </a>
                            <a class = "dropdown-item" href = "#"> 3 </a>
                            <a class = "dropdown-item" href = "#"> 4 </a>
                            <a class = "dropdown-item" href = "#"> 5 </a>
                            <a class = "dropdown-item" href = "#"> 6 </a>
                            <a class = "dropdown-item" href = "#"> 7 </a>
                            <a class = "dropdown-item" href = "#"> 8 </a>
                            <a class = "dropdown-item" href = "#"> 9 </a>
                        </div>
                    </li>
                </ul>

                <ul class = "navbar-nav mr-auto col-2 border bg-white">
                    <li class = "nav-item dropdown w-100">
                      <a class = "nav-link dropdown-toggle text-center" href = "#" id = "navbarDropdownMenuLink" role = "button" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false" > Tema  </a>
                        <div class = "dropdown-menu" aria-labelledby = "navbarDropdownMenuLink">
                            <a class = "dropdown-item" href = "#"> 1 </a>
                            <a class = "dropdown-item" href = "#"> 2 </a>
                            <a class = "dropdown-item" href = "#"> 3 </a>
                            <a class = "dropdown-item" href = "#"> 4 </a>
                            <a class = "dropdown-item" href = "#"> 5 </a>
                            <a class = "dropdown-item" href = "#"> 6 </a>
                            <a class = "dropdown-item" href = "#"> 7 </a>
                            <a class = "dropdown-item" href = "#"> 8 </a>
                            <a class = "dropdown-item" href = "#"> 9 </a>
                        </div>
                    </li>
                </ul>


                <ul class = "navbar-nav mr-auto col-2 border bg-white">
                    <li class = "nav-item dropdown w-100">
                      <a class = "nav-link dropdown-toggle text-center" href = "#" id = "navbarDropdownMenuLink" role = "button" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false"> ¿Precio? </a>
                        <div class = "dropdown-menu" aria-labelledby = "navbarDropdownMenuLink">
                            <a class = "dropdown-item" href = "#"> 1 </a>
                            <a class = "dropdown-item" href = "#"> 2 </a>
                            <a class = "dropdown-item" href = "#"> 3 </a>
                            <a class = "dropdown-item" href = "#"> 4 </a>
                            <a class = "dropdown-item" href = "#"> 5 </a>
                            <a class = "dropdown-item" href = "#"> 6 </a>
                        </div>
                    </li>
                </ul>
            </div>

            <button type="button" class="btn btn-info w-22"> ¡¡Encuentra tu viaje!! </button>
            
         </nav> #}

    </div>
{% endblock %}
