<style>

  .swiper-container {
    width: 100%;
    min-height: 650px;
    margin: 20px auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .append-buttons {
    text-align: center;
    margin-top: 20px;
  }

  .append-buttons a {
    display: inline-block;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }
</style>


  <!-- GRUPO -->
  <div class="card mb-2 mt-4  text-primary">
    <div class="card-header ">
      <h1 class="text-center">Pack Celeste</h1>
    </div>
    <div class="card-body">

      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="\images\ImagenesPortadas\azul\portada2C.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Paquete 1</h5>
                <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                  of the card's content.</p>
                <a href="/paquetes/1/1" class="card-link">Ver</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="\images\ImagenesPortadas\azul\portada3C.png"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Paquete 2</h5>
                <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                  of the card's content.</p>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="\images\ImagenesPortadas\azul\portada4C.png"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Paquete 3</h5>
                <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                  of the card's content.</p>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="\images\ImagenesPortadas\azul\portada5C.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Paquete 4</h5>
                <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                  of the card's content.</p>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="\images\ImagenesPortadas\azul\portada6C.png"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Paquete 5</h5>
                <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                  of the card's content.</p>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top"
                src="\images\ImagenesPortadas\azul\portada2C.jpg"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Paquete 6</h5>
                <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                  of the card's content.</p>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>

          

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <a href="/paquetes/1" class="btn btn-lg btn-success btn-block">Ver todos nuestros paquetes de grupo</a>
      </div>




    </div>
  </div>

<!-- FIN GRUPO-->

 <!-- GRUPO -->
 <div class="card mb-2 mt-4 bg-light text-primary">
  <div class="card-header ">
    <h1 class="text-center">Pack Dorado</h1>
  </div>
  <div class="card-body">

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="\images\ImagenesPortadas\dorado\amor1.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete 1</h5>
              <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="images\ImagenesPortadas\dorado\amor2.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete 2</h5>
              <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="images\ImagenesPortadas\dorado\amor3.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete 3</h5>
              <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="images\ImagenesPortadas\dorado\amor4.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete 4</h5>
              <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="images\ImagenesPortadas\dorado\amor5.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete 5</h5>
              <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="images\ImagenesPortadas\dorado\amor6.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete 6</h5>
              <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
       <a href="/paquetes/1" class="btn btn-lg btn-success btn-block">Ver todos nuestros paquetes de grupo</a>
    </div>




  </div>
</div>

<!-- FIN GRUPO-->

 <!-- GRUPO -->
 <div class="card mb-2 mt-4 bg-light text-primary">
  <div class="card-header  ">
    <h1 class="text-center">Pack Plata</h1>
  </div>
  <div class="card-body ">

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="\images\ImagenesPortadas\plata\felicidades1.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete 1</h5>
              <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="\images\ImagenesPortadas\plata\felicidades2.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete 2</h5>
              <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="\images\ImagenesPortadas\plata\felicidades3.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete 3</h5>
              <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="\images\ImagenesPortadas\plata\felicidades4.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete 4</h5>
              <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="\images\ImagenesPortadas\plata\felicidades5.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete  5</h5>
              <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide swiper-slide-active" style="background-image: url(&quot;&quot;);">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top"
              src="\images\ImagenesPortadas\plata\felicidades1.jpg"
              alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Paquete 6</h5>
              <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
                of the card's content.</p>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
       <a href="/paquetes/1" class="btn btn-lg btn-success btn-block">Ver todos nuestros paquetes de grupo</a>
    </div>

  </div>
</div>

<!-- FIN GRUPO-->


<script src=" \node_modules\swiper\dist\js\swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var appendNumber = 4;
  var prependNumber = 1;
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 4,
    spaceBetween: 20,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
  document.querySelector('.prepend-2-slides').addEventListener('click', function (e) {
    e.preventDefault();
    swiper.prependSlide([
      '<div class="swiper-slide">Slide ' + (--prependNumber) + '</div>',
      '<div class="swiper-slide">Slide ' + (--prependNumber) + '</div>'
    ]);
  });
  document.querySelector('.prepend-slide').addEventListener('click', function (e) {
    e.preventDefault();
    swiper.prependSlide('<div class="swiper-slide">Slide ' + (--prependNumber) + '</div>');
  });
  document.querySelector('.append-slide').addEventListener('click', function (e) {
    e.preventDefault();
    swiper.appendSlide('<div class="swiper-slide">Slide ' + (++appendNumber) + '</div>');
  });
  document.querySelector('.append-2-slides').addEventListener('click', function (e) {
    e.preventDefault();
    swiper.appendSlide([
      '<div class="swiper-slide">Slide ' + (++appendNumber) + '</div>',
      '<div class="swiper-slide">Slide ' + (++appendNumber) + '</div>'
    ]);
  });
</script>