{% extends 'base.html.twig' %}

{% block title %}TripAddict | Paquetes{% endblock %}

{% block body %}

<div class="row mb-3 d-flex justify-content-around">

  <div class="card col-md-3">
    <img class="card-img-top" src="\images\ImagenesPortadas\azul\portada2C.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Paquete 1</h5>
      <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
        of the card's content.</p>
      <a href="/paquetes/1/1" class="btn btn-primary  btn-block">Ver</a>
    </div>
  </div>


  <div class="card col-md-3">
    <img class="card-img-top" src="\images\ImagenesPortadas\azul\portada3C.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Paquete 2</h5>
      <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
        of the card's content.</p>
      <a href="/paquetes/1/1" class="btn btn-primary  btn-block">Ver</a>
    </div>
  </div>

  <div class="card col-md-3">
    <img class="card-img-top" src="\images\ImagenesPortadas\azul\portada5C.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Paquete 3</h5>
      <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
        of the card's content.</p>
      <a href="/paquetes/1/1" class="btn btn-primary  btn-block">Ver</a>
    </div>
  </div>

</div>

<div class="row mb-3 d-flex justify-content-around">

  <div class="card col-md-3">
    <img class="card-img-top" src="\images\ImagenesPortadas\dorado\amor2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Paquete 1</h5>
      <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
        of the card's content.</p>
      <a href="/paquetes/1/1" class="btn btn-primary  btn-block">Ver</a>
    </div>
  </div>


  <div class="card col-md-3">
    <img class="card-img-top" src="\images\ImagenesPortadas\dorado\amor3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Paquete 2</h5>
      <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
        of the card's content.</p>
      <a href="/paquetes/1/1" class="btn btn-primary  btn-block">Ver</a>
    </div>
  </div>

  <div class="card col-md-3">
    <img class="card-img-top" src="\images\ImagenesPortadas\dorado\amor4.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Paquete 3</h5>
      <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
        of the card's content.</p>
      <a href="/paquetes/1/1" class="btn btn-primary  btn-block">Ver</a>
    </div>
  </div>

</div>

<div class="row mb-3 d-flex justify-content-around">

  <div class="card col-md-3">
    <img class="card-img-top" src="\images\ImagenesPortadas\plata\felicidades1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Paquete 1</h5>
      <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
        of the card's content.</p>
      <a href="/paquetes/1/1" class="btn btn-primary  btn-block">Ver</a>
    </div>
  </div>


  <div class="card col-md-3">
    <img class="card-img-top" src="\images\ImagenesPortadas\plata\felicidades2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Paquete 2</h5>
      <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
        of the card's content.</p>
      <a href="/paquetes/1/1" class="btn btn-primary  btn-block">Ver</a>
    </div>
  </div>

  <div class="card col-md-3">
    <img class="card-img-top" src="\images\ImagenesPortadas\plata\felicidades3.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Paquete 1</h5>
      <p class="card-text text-left">Some quick example text to build on the card title and make up the bulk
        of the card's content.</p>
      <a href="/paquetes/1/1" class="btn btn-primary  btn-block">Ver</a>
    </div>
  </div>

</div>


{% endblock %}