{% extends 'base.html.twig' %}

{% block title %}TripAddict | Pedido{% endblock %}


{% block stylesheets %}
    <style>
        
    </style>
{% endblock %}

{% block body %}

    <div class="card">

            <div class="col-md-12 order-m-1  mb-5 mt-5">
                <h4 class="mb-3"> Datos de Facturación </h4>
                    <form class="needs-validation" novalidate="">
                    
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName"> Nombre: </label>
                                <input type="text" class="form-control" id="firstName" placeholder= {{ form_widget(form.nombre ) }}
                                <div class="invalid-feedback"> Nombre requerido </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="lastName"> Apellidos: </label>
                                <input type="text" class="form-control" id="lastName" placeholder={{ form_widget(form.apellidos ) }}
                                <div class="invalid-feedback"> Apellidos requerido </div>
                            </div>
                        </div>

                    
                        <div class="mb-3">
                            <label for="email"> Email <span class="text-muted"></span></label>
                            <input type="email" class="form-control" id="email" placeholder={{ form_widget(form.email ) }}
                            <div class="invalid-feedback"> Introduzca un email válido. </div>
                        </div>
                                                
                        <hr class="mb-4">
                            
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="save-info">
                                <label class="custom-control-label" for="save-info"> Guardar información </label>
                            </div>

                        <hr class="mb-4">

                        <h4 class="mb-3"> Pago </h4>

                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                                    <label class="custom-control-label" for="credit"> Tarjeta de crédito </label>
                                </div>

                                <div class="custom-control custom-radio">
                                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="cc-name"> Nombre </label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                                    <small class="text-muted"> Nombre completo como se muestra en la tarjeta </small>
                                    <div class="invalid-feedback"> Nombre de tarjeta obligatorio </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="cc-number"> Número de la tarjeta </label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                                    <div class="invalid-feedback"> Número de la tarjeta obligatorio </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration"> Caducidad </label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label for="cc-cvv">CVV</label>
                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                                    <div class="invalid-feedback"> Código de seguridad obligatorio </div>
                                </div>
                            </div>

                            <hr class="mb-4">
                            <a href="/finCompra" class='btn btn-primary btn-lg btn-block'>Finalizar Compra</a>
                    </form>
            </div>
        </div>

        {# <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1"> © 2019 TripAddict </p>
            <ul class="list-inline">
            <li class="list-inline-item"><a href="#"> Privacidad </a></li>
            <li class="list-inline-item"><a href="#"> Condiciones </a></li>
            <li class="list-inline-item"><a href="#"> Soporte </a></li>
            </ul>
        </footer> #}
    </div>

{% endblock %}
