<!-- Footer -->
<footer class="page-footer navbar-dark bg-dark text-primary">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">Ayuda y Servicios</h5>

        <ul class="text-primary">
          <li>
            <a href='#'class="text-primary" >Ayuda y contacto</a>
          </li>
          <li>
            <a href='#'class="text-primary">¿Como funciona?</a>
          </li>
          <li>
            <a href='#'class=" text-primary">Condiciones generales</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">Empresa</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold mt-3 mb-4">Redes Sociales</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a class="text-primary link" href="./"> TripAddict</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->




<!-- Footer -->
<footer class="page-footer font-small blue pt-4">


  <div class="card  bg-dark card-body" style="min-width: 100%;  position: ; bottom: 0;">
    <div class="card-body font-weight-bold">
      <div class="d-flex justify-content-center">      
      
        <div class="col-md-3 col-sm-12 text-sm-left ">
          <h5 class="card-title ">Ayuda y servicios</h5>
          <div class='links  text-left '>
            <h6><a href='#'class="card-text text-primary  " >Ayuda y contacto</a><br/></h6>
            <h6><a href='#'class="card-text text-primary">¿Como funciona?</a><br/></h6>
            <h6><a href='#'class="card-text text-primary">Condiciones generales</a><br/></h6>
          </div>
        </div>
  
        <div class="col-md-3 col-sm-12 text-left">
          <h5 class="card-title">Empresa</h5>
          <h6><a href='#'class="card-text text-primary">¿Quienes somos?</a><br/></h6>
          <h6><a href='#'class="card-text text-primary">Politica de privacidad</a><br/></h6>
          <h6><a href='#'class="card-text text-primary">Nuestro compromiso</a><br/></h6>
          <h6><a href='#'class="card-text text-primary">Contacto</a><br/></h6>
        </div>
  
      <div class="col-md-3 col-sm-12 text-left">
        <h5 class="card-title">Redes sociales</h5>
        <h6><a href='#'class="card-text text-primary"><i class="fa fa-whatsapp" style='width: 14px'></i>   +34 673409986</a><br/></h6>
        <h6><a href='#'class="card-text text-primary"><i class="fa fa-twitter" style='width: 14px'></i>    @tripAddict</a><br/></h6>
        <h6><a href='#'class="card-text text-primary"><i class="fa fa-facebook" style='width: 14px'></i>   tripAddict</a><br/></h6>
      </div>

        </div>
      </div>
    </div>
</footer>