

<!-- Footer -->
<footer id="footer" class="page-footer pt-4 indigo bg-dark">

  <!-- Footer Links -->
  <div class=" container text-center text-md-left  ">

    <!-- Grid row -->
    <div class="row">

      
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Ayuda y servicios</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-primary">Ayuda y contacto</a>
          </li>
          <li>
            <a href="/comoFunciona" class="text-primary">¿Como funciona?</a>
          </li>
          <li>
            <a href="#!" class="text-primary">Condiciones generales</a>
          </li>

        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Empresa</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-primary">¿Quienes somos?</a>
          </li>
          <li>
            <a href="#!" class="text-primary">Politica de privacidad</a>
          </li>
          <li>
            <a href="#!" class="text-primary">Nuestro compromiso</a>
          </li>
          <li>
            <a href="#!" class="text-primary">Contacto</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold  text-uppercase mt-3 mb-4">Redes sociales</h5>

        <ul class="list-unstyled ">
          <li>
            <a href="#!" class="text-primary"> <i class="fa fa-whatsapp" style='width: 14px'></i>+34 673409986</a>
          </li>
          <li>
            <a href="#!" class="text-primary"><i class="fa fa-twitter" style='width: 14px'></i> @tripAddict</a>
          </li>
          <li>
            <a href="#!" class="text-primary"><i class="fa fa-facebook" style='width: 14px'></i> tripAddict</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="./" class="text-primary"> TripAddict</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->




