{% extends 'base.html.twig' %}

{% block title %}Hello FinCompraController!{% endblock %}

    {% block stylesheets %}
        <style>
           
        </style>
    {% endblock %}

{% block body %}

    <div>
        <div class="col-md-12 mb-2 mt-2">
            <h4 class="mb-3 text-center"> Gracias. </h4>
        </div>
        
        <div class="col-md-12 mb-4 mt-2">
            <h4 class="text-center"> Su compra ha sido procesada. En unos momentos recibirá un correo electrónico. </h4>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="mx-auto col-md-12 m-1">
                    <h4 class="d-flex justify-content-between align-items-center">
                        <span class="text-muted"> Descripción </span>
                        <span class="badge badge-secondary badge-pill"> 3 productos </span>
                    </h4>

                    <ul class="list-group m-1">
                        <li class="m-1 d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0"> Producto 1 </h6>
                                <small class="text-muted"> Descripción </small>
                            </div>

                            <div class="product-cart">
                                <div class="product-quantity">
                                    <div> Cantidad: 1 </div>
                                    <input name="cantidad" value="1" class="input-text qty" type="hidden">
                                </div>
                                <div class="text-muted"> 0 € </div>
                            </div>
                        </li>

                        <li class="m-1 d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0"> Producto 2 </h6>
                                <small class="text-muted"> Descripción </small>
                            </div>
                                
                            <div class="product-cart"> 
                                <div class="product-quantity">
                                    <div> Cantidad: 1 </div>
                                    <input name="cantidad" value="1" class="input-text qty" type="hidden">
                                </div>
                                <div class="text-muted"> 0 € </div>
                            </div>
                        </li>

                        <li class="m-1 d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0"> Producto 3 </h6>
                                <small class="text-muted"> Descripción </small>
                            </div>
                            
                            <div class="product-cart"> 
                                <div class="product-quantity">
                                    <div> Cantidad: 1 </div>
                                    <input name="cantidad" value="1" class="input-text qty" type="hidden">
                                </div>
                                <div class="text-muted"> 0 € </div>
                            </div>
                        </li>

                        <li class="m-1 list-group-item d-flex justify-content-between">
                            <span> Total (€) </span>
                            <strong> 20€ </strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
        
            <div class="justify-content-between lh-condensed">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h4 class="text-muted"> Datos personales </h4>
                </div>                     
            </div>

            <div class="container">
                <div class="col-md-4 m-2 form-group row">
                    <label for="staticEmail" class="col-form-label mr-2"> Nombre: </label>
                    <div> <p type="text" readonly class="form-control-plaintext" id="staticName"> Alejandro Daniel </p> </div>
                </div>

                <div class="col-md-4 m-2 form-group row">
                    <label for="staticEmail" class="col-form-label mr-2"> Email: </label>
                    <div> <p type="text" readonly class="form-control-plaintext" id="staticName"> ponaquituemail@ejemplo.com </p> </div>
                </div>
            </div>
        </div>
    </div>  

{% endblock %}
