{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

<div class="container text-center">
  <h1 >Nuevo usuario</h1>
</div>
    

    {{ include('user/_form.html.twig') }}


    <a class=" btn btn-primary btn-block mt-2"href="{{ path('user_index') }}">Volver</a>
{% endblock %}
